<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAteuQHZrr8ZC0a-oGbFAjHtO36xmGvc-8</string>
	<key>GCM_SENDER_ID</key>
	<string>889071847183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pay</string>
	<key>PROJECT_ID</key>
	<string>payapp-23878</string>
	<key>STORAGE_BUCKET</key>
	<string>payapp-23878.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889071847183:ios:b214e31245610a614c207a</string>
	<key>DATABASE_URL</key>
	<string>https://payapp-23878-default-rtdb.firebaseio.com</string>
</dict>
</plist>